{
  parser: "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [0, 120, 2, {ignoreComments: true}],
    "react/prop-types": [2],
    "react/forbid-prop-types": [0],
    "react/jsx-no-bind": [0],
    "no-param-reassign": [0],
    "radix": [0],
    "camelcase": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "import/extensions": [0],
    "import/no-unresolved": [0],
    "no-console": [2, { allow: ["warn", "error"] }],
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "react": false,
    "mapboxgl": false,
  }
}
