.jane-container {
  border: 1px solid #efefef;
  font-family: 'Roboto', sans-serif;

  .gl-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .mui-toolbar-container {
    padding: 6px 6px;
    position: absolute;
    z-index: 1;
  }

  .jane-drawer-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background: #c1c1c1;
  }

  .jane-drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -165px;
    width: 200px;
    background: #fff;
    overflow: hidden;
    transition: left 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  }

  .jane-drawer.expanded {
    left: 0;
  }

  .list-item {
    color: #5f5f5f !important;
    position: relative;
    cursor: -webkit-grab;
    cursor: grab;
    height: 30px;
    font-size: 13px;
    margin-bottom: 2px;
    text-align: right;
    background-color: #FFF;
    border-right: 2px solid #FFF;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    .name {
      white-space: nowrap;
      max-width: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      line-height: 11px;
    }

    &:hover {
      border-right: 2px solid #9f9f9f;
    }

    &:hover, &:hover .fa {
      color: #9f9f9f !important;

    }

    &.selected {
      background-color: #FFF;
      border-right: 2px solid #C1C1C1;
      border-right: 2px solid #d96b27;
    }

    &.selected .fa {
      color: #d96b27 !important;
    }

    &.disabled {
      background-color: #C1C1C1;
      border-right: 2px solid #C1C1C1;
    }

    &.disabled, &.disabled .fa {
      color: #9c9c9c !important;
    }

    &.disabled:hover, &.disabled:hover .fa {
      color: #808080 !important;
    }

    .toggle-container {
      width: 50px;
      position: absolute;
      left: 0;
      top: 4px;
    }
  }


  .second-drawer.offset {
    left: 200px;
  }

  .second-drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35px;
    width: 320px;
    background: #fff;
    transition: left 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;

    .drawer-header {
      text-align: left;
    }

    .second-drawer-content {
      padding: 0 16px;

      h4 {
        font-family: 'roboto', sans-serif;
        color: rgba(0, 0, 0, 0.541176);
        font-size: 14px;
        font-weight: 500;
        margin: 16px 0;
      }
    }
  }

  .drawer-header {
    position: relative;
    border-bottom: 1px solid #a9a9a9;
    height: 35px;
    text-align: right;
  }

  .drawer-subheader {
    height: 48px;
  }

  .jane-legend {
    color: #555;
    padding: 6px 8px;
    background: #fff;
    margin: 28px 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2), 0 -1px 0 rgba(0,0,0,.0196078);
    border-radius: 2px;
    font-family: roboto,sans-serif;
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 320px;
    min-width: 90px;
    font-size: 13px;

    p {
      margin: 10px 0;
    }
  }

  .jane-map-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transition: left 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  .jane-selected-features {
    width: 335px;
    right: -50px;
    top: 9px;
    height: auto;
    position: absolute;
    background: rgba(255, 255, 255, 0.91);
    max-height: calc(100% - 132px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.0196078) 0px -1px 0px;
    border-radius: 2px;
    transition: right 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    overflow: auto;

    a:hover {
      text-decoration: none;
    }
  }
}

/*SearchFilterToolbar*/

.search-filter-toolbar {
  .react-autosuggest__container--open .react-autosuggest__suggestions-container {
    display: block;
    position: absolute;
    top: 47px;
    width: 100%;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    cursor: pointer;
  }

  .react-autosuggest__input {
    width: 265px;
    height: 40px;
    padding: 10px 0 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    outline: none;
    -webkit-appearance: none;
  }

  ul {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  li {
    padding: 8px 10px;
    border-top: 1px solid #eaeaea;
  }

  .react-autosuggest__suggestion--focused {
    background-color: #eaeaea;
  }

  li .fa {
    padding-right: 12px;
  }
}


/*End SearchFilterToolbar*/

/*Hide Mapbox Popup*/
.mapboxgl-popup-content {

   background: none; 
   border-radius: none; 
   box-shadow: none;

  p {
    font-weight: 800;
    text-shadow: 1px 1px #ffffff;
  }
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  display: none;
}
/*Hide Mapbox Popup*/